.centerDiv{
  background: #17252A ;
  color: white;
  padding-bottom: 30px;
}

.bodyColor{
  background: #3AAFA9 ;
}

.header{
  margin-top: 30px;
  margin-bottom: 35px;
  background: #17252A ;
  width: 100%;
  padding: 1vw;
  color:white;
}
#one
{
  margin-top:0px;
 box-shadow: 0px 0px 5px 2px rgba(23,37,42,0.75);
}

.row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.it input.form-control
{
  height: 54px;
  border:none;
  margin-bottom:0px;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}
.it .form-control:focus
{
  border-color: #ff4d0d;
  box-shadow: none;
  outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.it .btn-new, .it .btn-next
{
  margin: 30px 0px;
  border-radius: 0px;
  background-color: #333;
  color: #f5f5f5;
  font-size: 16px;
  width: 155px;
}
.it .btn-next
{
  background-color: #003366;
  color: #fff;
}
.it .btn-check
{
  cursor:pointer;
  line-height:54px;
  color:red;
}
.it .uploadDoc
{
  margin-bottom: 20px;
}
.it .uploadDoc
{
  margin-bottom: 20px;
}

p
{
  font-size:16px;
  text-align:center;
  margin:30px 0px;
}
.it #uploader .docErr
{
  position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
.it #uploader .docErr:after
{
  content: '\f0d7';
  display: inline-block;
  
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: -40px;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

body {
  font-family : sans-serif;
}

.button {
  background      : #2B7A78;
  border          : none;
  border-radius   : 3px;
  color           : white;
  display         : inline-block;
  font-size       : 19px;
  letter-spacing  : 0.02em;
  padding         : 7px 25px;
  text-align      : center;
  text-shadow     : 0px 1px 2px rgba(0, 0, 0, 0.75);
  text-decoration : none;
  transition      : all 0.2s;
}



input[type="file"] {
  display : none;
}

#file-drag {
  border        : 2px dashed #DEF2F1;
  border-radius : 7px;
  color         : #DEF2F1;
  cursor        : pointer;
  display       : block;
  font-weight   : bold;
  margin        : 1em 0;
  padding       : 3em;
  text-align    : center;
  transition    : background 0.3s, color 0.3s;
}

#file-drag:hover {
  background : #DEF2F1;
  border-color : #FEFFFF;
  border-style : solid;
  box-shadow   : inset 0px 3px 5px 4px #3AAFA9;
  color        : #17252A;
}

#file-progress {
  display : none;
  margin  : 1em auto;
  width   : 100%;
}

#file-upload-btn {
  margin : auto;
}

#file-upload-btn:hover {
  background : #3AAFA9;

}

.verifyBtn:hover{
  background:#3AAFA9;
  cursor        : pointer;
}

#file-upload-form {
  margin : auto;  
  width  : 40%;
}

progress {
  appearance    : none;
  background    : #eee;
  border        : none;
  border-radius : 3px;
  box-shadow    : 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  height        : 30px;
}

progress[value]::-webkit-progress-value {
  background :
    -webkit-linear-gradient(-45deg, 
      transparent 33%,
      rgba(0, 0, 0, .2) 33%, 
      rgba(0,0, 0, .2) 66%,
      transparent 66%),
    -webkit-linear-gradient(right,
      #005f95,
      #07294d);
  background :
    linear-gradient(-45deg, 
      transparent 33%,
      rgba(0, 0, 0, .2) 33%, 
      rgba(0,0, 0, .2) 66%,
      transparent 66%),
    linear-gradient(right,
      #005f95,
      #07294d);
  background-size : 60px 30px, 100% 100%, 100% 100%;
  border-radius   : 3px;
}

progress[value]::-moz-progress-bar {
  background :
  -moz-linear-gradient(-45deg, 
    transparent 33%,
    rgba(0, 0, 0, .2) 33%, 
    rgba(0,0, 0, .2) 66%,
    transparent 66%),
  -moz-linear-gradient(right,
    #005f95,
    #07294d);
  background :
    linear-gradient(-45deg, 
      transparent 33%,
      rgba(0, 0, 0, .2) 33%, 
      rgba(0,0, 0, .2) 66%,
      transparent 66%),
    linear-gradient(right,
      #005f95,
      #07294d);
  background-size : 60px 30px, 100% 100%, 100% 100%;
  border-radius   : 3px;
}

ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

