<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dropfile.css">

    <script type="text/javascript" href="cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" href="jquery-3.3.1.min.js"></script>
</head>
<body class="bodyColor">
    <div class="row it">
        <div class="col-sm-1 bodyColor"></div>
        <div class="col-sm-10 centerDiv" id="one">
            <br>
            <b><h4> <center><b>Please upload Certificate to be Verified.</b></center></h4></b>
            <div class="row ">
                <div id="uploader">
                    <form id="file-upload-form">
                        <input id="file-upload" type="file" name="fileUpload" onchange='openFile(event)'/>
                        <label for="file-upload" id="file-drag">
                            <div id="upload-text">
                            Select a Certificate to upload
                            <br />OR
                            <br />Drag a Certificate into this box
                            <br /><br />
                            </div><span id="file-upload-btn" class="button">Add a Certificate</span>
                        </label>
                        <output for="file-upload" id="messages"></output>
                    </form>
                </div>
                <div class="text-center">
                    <span class=" button verifyBtn"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Verify</span>
                </div>
            </div><!--one-->
        </div><!-- row -->
        <div class="col-sm-1 bodyColor"></div>
    </div>
    <script type="text/javascript">
        var jsondata = "";
        var openFile = function(event) {
            var lab = document.getElementById('upload-text');
            lab.innerHTML = "File Uploaded<br/><br/>";
            console.log(lab);
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function(){
                var text = reader.result;
                console.log(reader.result);
                jsondata = reader.result;
            };
            reader.readAsText(input.files[0]);
        };
    </script>
</body>
</html>

