<!DOCTYPE html>
<html>
<head>
	<title>Certificate Issuance</title>

	<script src="static/node_modules/web3/dist/web3.min.js"></script>
	<script src="static/web3_functions.js"></script>
</head>
<body>
	<script>
		if (typeof web3 !== 'undefined') {
			web3 = new Web3(web3.currentProvider);
			document.write("Injected Web3");
		} else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            document.write("New Web3");
        }

        var contractInstance = web3.eth.contract([
    {
        "constant": false,
        "inputs": [
            {
                "name": "myid",
                "type": "bytes32"
            },
            {
                "name": "result",
                "type": "string"
            }
        ],
        "name": "__callback",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "myid",
                "type": "bytes32"
            },
            {
                "name": "result",
                "type": "string"
            },
            {
                "name": "proof",
                "type": "bytes"
            }
        ],
        "name": "__callback",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "year",
                "type": "uint256"
            },
            {
                "name": "root",
                "type": "bytes32"
            }
        ],
        "name": "publish",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "merklepath",
                "type": "bytes32[]"
            },
            {
                "name": "hash",
                "type": "string"
            },
            {
                "name": "year",
                "type": "uint256"
            }
        ],
        "name": "verify",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "inputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "constructor"
    },
    {
        "anonymous": false,
        "inputs": [
            {
                "indexed": false,
                "name": "description",
                "type": "string"
            }
        ],
        "name": "LogNewOraclizeQuery",
        "type": "event"
    },
    {
        "anonymous": false,
        "inputs": [
            {
                "indexed": false,
                "name": "requestID",
                "type": "bytes32"
            },
            {
                "indexed": false,
                "name": "verificationStatus",
                "type": "bool"
            }
        ],
        "name": "VerificationResult",
        "type": "event"
    },
    {
        "anonymous": false,
        "inputs": [
            {
                "indexed": false,
                "name": "requestID",
                "type": "bytes32"
            }
        ],
        "name": "VerificationRequest",
        "type": "event"
    },
    {
        "anonymous": false,
        "inputs": [
            {
                "indexed": false,
                "name": "root",
                "type": "bytes32"
            }
        ],
        "name": "PublishStatus",
        "type": "event"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "calculatedHash",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "name": "certificates",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "lastid",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "length",
        "outputs": [
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "name": "requestHash",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "name": "",
                "type": "bytes32"
            },
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "name": "requestPath",
        "outputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "name": "",
                "type": "bytes32"
            }
        ],
        "name": "requestYear",
        "outputs": [
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "tokenContract",
        "outputs": [
            {
                "name": "",
                "type": "address"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "verify1",
        "outputs": [
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    }
]);
        var contract = contractInstance.at('0xc469170e74036de9f959719706c60892a69d9837');
        document.write("Contract Created");
        var ar = ["0x46bcb0667e4ba7c91afb3fdb8753294a370e25d7b6a282fafb7642f44987bf01", 
        "0x8bf87f4385e0a5a8afbf481b7550631cb18e44dae512570610862a61c56db050", 
        "0x498586243de256b7c73e5bfa2b5f8517e75824a450f41acecd46b609a3e91264", 
        "0xa777bf0fb1116388df87b27c356b68e8cd4fc5a4256c51543db910f5ccef93e8", 
        "0x324156d49068358c0c452cd1e58610d70ec34ec6a0cfa96a72efa2630c96419e", 
        "0x3a0385f0e527fbbb13237f60cd78c6befe54f72df9c1538e8ee8cedaf4de5eb7", 
        "0xbe473763a680ebebbb4b1c494e97bf0e08962e22f9f0e2f583641481830e0340", 
        "0xa2165e87f1e736aca474088670cabdcf368be82a355541ab7071fc542a3105ce"]
        function showMessage(){
            publishHash("0x88533eed01351136c4b1ba7df5e3ec5dc5f78d7c4a2b4f7e21236c7cdbc6158f", 2012, function(error, result){
                    if(!error){
                        console.log(result);
                    }
            });
        }

        function verify(){
            contract.verify(ar, "0x15c83098953521b37cbf0e20d353e05ba44935a34a0fbf8962473d63190ed57c",
                201, function(error, result){
                    if(!error){
                        console.log(result);
                    }
                    else{
                        console.log(error);
                    }
                });
        }
        var publishEvent = contract.PublishStatus({}, {fromBlock: 0, toBlock: 'latest'});
        publishEvent.watch(function(error, result){
            if(!error){
                console.log(result);
                console.log("Published root"); 
                console.log(result.args['root']);
            }
            else{
                console.log(result);
            }
        });

        var verificationEvent = contract.VerificationResult({}, {fromBlock: 0, toBlock: 'latest'});
        verificationEvent.watch(function(error, result){
            if(!error){
                console.log("VerificationResult");
                console.log(result);
                console.log(result.args['requestID']);
                console.log(result.args['verificationStatus']);
            }
        });

        var veriEvent = contract.VerificationRequest({}, {fromBlock: 0, toBlock: 'latest'});
        veriEvent.watch(function(error, result){
            if(!error){
                console.log(result);
            }
        });
    </script>
    <div>
       <input type="button" name="b" value="Hello"  onclick="showMessage();">
       <input type="button" name="b" value="Hello 2"  onclick="verify();">
    </div>
</body>
</html>