<!DOCTYPE html>
<html>
<head>
	<title>Certificate Issuance</title>
	<script src="static/node_modules/web3/dist/web3.min.js"></script>
    <script type="text/javascript" src="static/contracts.js"></script>
    <script src="static/web3_functions.js"></script>
</head>
<body>
	<script>
        console.log(verificationContractAbi);
        if (typeof web3 !== 'undefined') {
         web3 = new Web3(web3.currentProvider);
         document.write("Injected Web3");
     } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            document.write("New Web3");
        }
        var ar = ["0x46bcb0667e4ba7c91afb3fdb8753294a370e25d7b6a282fafb7642f44987bf01", 
        "0x8bf87f4385e0a5a8afbf481b7550631cb18e44dae512570610862a61c56db050", 
        "0x498586243de256b7c73e5bfa2b5f8517e75824a450f41acecd46b609a3e91264", 
        "0xa777bf0fb1116388df87b27c356b68e8cd4fc5a4256c51543db910f5ccef93e8", 
        "0x324156d49068358c0c452cd1e58610d70ec34ec6a0cfa96a72efa2630c96419e", 
        "0x3a0385f0e527fbbb13237f60cd78c6befe54f72df9c1538e8ee8cedaf4de5eb7", 
        "0xbe473763a680ebebbb4b1c494e97bf0e08962e22f9f0e2f583641481830e0340", 
        "0xa2165e87f1e736aca474088670cabdcf368be82a355541ab7071fc542a3105ce"]
        function showMessage(){
            publishHash("0x88533eed01351136c4b1ba7df5e3ec5dc5f78d7c4a2b4f7e21236c7cdbc6158f", 2012, function(error, result){
                if(!error){
                    console.log(result);
                }
            });
        }

        function verify(){
            var obj = JSON.parse(jsondata);
            var hash = obj.header.hash;
            var merklePath = obj.header.merkleproof;
            verifyCertificate(merklePath, hash,
                2012, function(error, result){

                } , function(){

                }, function(){

                });
        }
    </script>
    <div>
        <input type="button" name="b" value="Hello"  onclick="showMessage();">
        <input type="button" name="b" value="Hello 2"  onclick="verify();">
        <input type='file' accept='text/plain' onchange='openFile(event)'><br>
    </div>

    <script type="text/javascript">
        var jsondata = "";
        var openFile = function(event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function(){
                var text = reader.result;
                console.log(reader.result);
                jsondata = reader.result;
            };
            reader.readAsText(input.files[0]);
        };
    </script>
</body>
</html>