<!DOCTYPE html>
<html>
<head>
	<title>Certificate Issuance</title>
	<script src="/static/node_modules/web3/dist/web3.min.js"></script>
    <script type="text/javascript" src="/static/contracts.js"></script>
    <script src="/static/web3_functions.js"></script>
</head>
<body>
	<script>
        console.log(verificationContractAbi);
        console.log(new Date().getTime())
        if (typeof web3 !== 'undefined') {
         web3 = new Web3(web3.currentProvider);
         document.write("Injected Web3");
     } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            document.write("New Web3");
        }
        function showMessage(){
            publishRoot("0xbdb0124a0c4dca60b367d83b67f007a94b8f5a2bfdc3c61ec2948e5e95bd3b6d", 2014, function(error, result){
                if(!error){
                    console.log(result);
                }
            });
        }

        function verify(){
            try{
                var obj = JSON.parse(jsondata);
            }
            catch(exception){
                console.log("Error Occured");
                return;
            }
            var hash = obj.header.hash;
            var merklePath = obj.header.merkleproof;
            var currentTimeStamp = new Date().getTime();
            verifyCertificate(merklePath, hash, 2014, currentTimeStamp, 
                function(error, result){

                } , function(){

                }, function(){

                });
        }
    </script>
    <div>
        <input type="button" name="b" value="Hello"  onclick="showMessage();">
        <input type="button" name="b" value="Hello 2"  onclick="verify();">
        <input type='file' accept='text/plain' onchange='openFile(event)'><br>
    </div>

    <script type="text/javascript">
        var jsondata = "";
        var openFile = function(event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function(){
                var text = reader.result;
                //console.log(reader.result);
                jsondata = reader.result;
            };
            reader.readAsText(input.files[0]);
        };
    </script>
</body>
</html>