{% include '/head.html' %}
<main role="main" class="container">
    <div class="container" style="margin-top:10%; margin-bottom: 10%;">
        <div class="row">
            <div class="col-sm-12 offset-sm-0">
                <div class="card" id="home">
                    <div class="card-header"><center>Published Roots</center></div>
                    <div class="card-body" style="text-align:center;">
                        <h5 class="card-title"> Following roots have been published onto the blockchain and can be used to verify certificates</h5><br>
                        <div id="uploader">
                            <form id="file-upload-form" action = "/uploadfile" method = "POST" 
        enctype = "multipart/form-data">
                                <div class="form-group row">
                                    <div id="roots-data" class="offset-2 col-8">                                
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function(){
        for(var i = 2000; i<2100; i++){
            getPreviousRequests(function(requestID, status){
                var x = document.getElementById('roots-data');
                if(status == "true"){
                    x.innerHTML += '<div id="hash-block">'+
                                            '<div id="request-id" class="alert alert-success" style="width: 100%;">'+
                                                '<b>Request ID : </b>' + requestID +' <br><b>Verification Status</b> :  ' + status +  
                                            '</div>'+
                                        '</div>';
                }
                else{
                    x.innerHTML += '<div id="hash-block">'+
                                            '<div id="request-id" class="alert alert-danger" style="width: 100%;">'+
                                                '<b>Request ID : </b>' + requestID +' <br><b>Verification Status</b> :  ' + status +  
                                            '</div>'+
                                        '</div>';
                    
                }
            })
        }
    });
</script>
{%include 'footer.html' %}